#set-timer-container{
    display: grid;
    grid-template-columns: 1fr 8fr;
}

#timer-settings{
    display: none;
    position: fixed;
    top: 40%;
    left: 40%;
    z-index: 4 ;
    border-radius: 2em;
    padding: 4em;
    background-color: #FFFFFF;
}

#shader{
    z-index: 3;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000090;
    height: 100%;
    width: 100%;
}